<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#testnavbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="#">{{projectName}}</a>
		</div>
		<div id="testnavbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/morning">Morning</a></li>
				<li><a routerLink="/evening">Evening</a></li>
				<li><a routerLink="/bedtime">Bedtime</a></li>
			</ul>
		</div>
	</div>
</nav>

